.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    position: relative;
}

.tree li::before,
.tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.tree li::after {
    border-top: 1px solid #999;
    top: 30px;
    width: 25px;
}

.tree li div {
    border: 1px solid #999;
    display: inline-block;
    padding: 8px 24px;
    text-decoration: none;
}

span.action {
    display: none;
}

div:hover > span.action {
    display: inline-block;
}

span.action > a {
    top: -1px;
    line-height: 0;
}

span.action > a:hover {
    color: #e08e0b;
}

.tree li.parent > div {
    cursor: pointer;
}

.tree > ul > li::before,
.tree > ul > li::after {
    border: 0;
}

.tree li:last-child::before {
    height: 30px;
}

.tree li.parent > div:hover,
.tree li.parent > div:hover + ul li div {
    background: #f3f3f3;
}

li div.just-line {
    display: none;
}

div.just-line + ul > li::before {
    border-left: 0;
    padding: 0;
}

div.just-line + ul > li::after {
    left: -40px;
    width: 45px;
}

.no-padding {
    padding: 0 5px !important;
}